.contact {
  display: flex;
  padding: 0 8em;
  margin: 7rem 0;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    padding: 0 4em;
  }

  @media screen and (max-width: 460px) {
    padding: 0 1em;
  }

  header {
    text-align: center;

    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 18px;
    }
  }

  .card {
    background-color: transparent;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title {
      font-size: 24px;
      font-weight: 600;
      text-align: center;
    }

    .form {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      width: 70%;
      max-width: 35rem;

      .group {
        position: relative;

        :is(input, textarea) {
          padding: 10px;
          border-radius: 5px;
          border: 1px solid green;
          font-size: 16px;
          margin-bottom: 20px;
          outline: 0;
          width: 95%;
          background-color: transparent;
        }

        :is(
            input:placeholder-shown + label,
            textarea:placeholder-shown + label
          ) {
          top: 10px;
          background-color: transparent;
        }

        :is(input:focus, textarea:focus) {
          border-color: orange;
        }

        :is(input:focus + label, textarea:focus + label) {
          top: -10px;
          left: 10px;
          background-color: #fff;
          color: #3366cc;
          font-weight: 600;
          font-size: 14px;
        }

        &textarea {
          height: 120px;
          width: 95%;
        }
      }
    }

    button {
      background-color: green;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding-block: 10px;
      padding-inline: 10px;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: #7a8b27;
      }
    }
  }
}
