@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,900;1,300&display=swap');
:root {
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.5;
  font-weight: 500;

  /* color-scheme: light dark; */
  color: #000000 ;
  background-color: #eeffef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
  scroll-padding-top: 7em;
}